/*Author: Noorin*/

#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
}

#locationsPopup, #skillsPopup,  #positionsPopup, #idPopup{
	display:none;
	position:relative;
	_position:absolute; /* hack for internet explorer 6*/
	width:408px;
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:2;
	padding:12px;
}
#locationsPopup h1, #skillsPopup h1,  #positionsPopup h1{
	text-align:left;
	color:	#505050 ;
	font-size:200%;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}
#locationsPopup input.button, #skillsPopup input.button, #positionsPopup input.button, #idPopup input.button{
     font-family: cochin, Verdana, georgia, Times, helvetica,sans-serif;
	  font-size:100%;
	  color:black;
	  background-color:#E6E6E6;
	  padding-top: 2px;
	  padding-bottom: 2px;
	 -webkit-border-top-left-radius:2px; 
	 -webkit-border-top-right-radius:2px;
	 -webkit-border-bottom-left-radius:2px; 
	 -webkit-border-bottom-right-radius:2px;
	  -moz-border-radius:5px;
	  float:right;
	  
}
	#popupContactClose, #popupContactClose2, #posPopupClose, #idPopupClose
	{
		font-size:100%;
		line-height:14px;
		right:6px;
		top:4px;
		position:absolute;
		color:#6fa5fd;
		font-weight:700;
		display:block;
	}