@CHARSET "ISO-8859-1";

/**Author:Noorin*/

#skillImage:before
{
	position:relative;
	top:5px;
	content: url(../../lib/images/icons/Vista/PNG/Config-Tools.png)
}

#skillsIcon
{
	font-size:1.2em;
	float:left;
	margin-left:20px;
}

#skillsIcon h3:before
{
	position:relative;
	top:5px;
	content: url(../../lib/images/icons/Vista/PNG/Config-Tools.png)	
}