body {
	
}

label {
	color: white;
	font-family: cochin;
}

#container {
	min-width: 1000px;
	width: 1000px;
	margin: 0 auto;
}

#header {
	background-color: #282828;
	width: 100%;
	height: 100px;
}

#headerTitle {
	position: relative;
	top: 65px;
	left: 20px;
	color: white;
	font-family: Cochin;
	font-size: 2.5em;
}

#loginArea {
	width: 550px;
	height: 100px;
	position: fixed;
	margin-top: -30px;
	margin-left: 450px;
}

#rememberMe {
	color: white;
	font-family: cochin;
	margin-left: 90px;
}

#middle {
	color: black;
	font-family: cochin;
	min-height: 100px;
	padding-top:20px;
}

#footer {
	position: relative;
	top: 2em;
	background-color: #282828;
	width: 100%;
	height: 100px;
}

#userArea
{
	width: 550px;
	height: 100px;
	position: relative;
	margin-top: -70px;
	margin-left: 750px;
	color:white;
	font-family: cochin;
	font-size:1.5em;
}

#userArea a
{
	color:white;
	text-decoration:none;
}
//Noorin
	
	/* Dark gray Background for dash-board upper rectangle */

	#sidebar .upperDashboard
	{
		font-size: 90%;
	    line-height: 1.0 em;
		padding: 10px;
		color: white;
		background-color: gray;
		border-style: solid;
		border-width: 2px;
		border-color: gray;
		width : 140px;
		height : 20 px;
		text-align: center;
		position:relative;
		-webkit-border-top-left-radius:10px; 
		-webkit-border-top-right-radius:10px;

	}
	
	/* Gray colour for rectangles */

	#sidebar .upperRectangle
	{
		font-size: 90%;
	    line-height: 1.0 em;
		padding: 10px;
		color: Black;
		background-color: gray;
		border-style: solid;
		border-width: 2px;
		border-color: gray;
		width : 140px;
		height : 20 px;
		text-align: center;
		position: relative;
		-webkit-border-top-left-radius:10px; 
		-webkit-border-top-right-radius:10px;
	}
	


/* White Background for boxes */

	#sidebar .lowerRectangle
	{
		font-size: 90%;
	    line-height: 1.0 em;
		padding: 10px;
		color: Black;
		background-color: white;
		border-style: solid;
		border-width: 2px;
		border-color: gray;
		width : 140px;
		height : 50 px;
		text-align: left;
		position:relative;
		-webkit-border-bottom-left-radius:10px; 
		-webkit-border-bottom-right-radius:10px

	}
	
	
	/*Sidebar*/
	#sidebar
	{
		position: relative;
		width: 200 px;
		color: black;
		margin : 0;
		text-align:center;
	}
	
	#sidebar a
	{
		text-decoration:none;
		color:black;
	}
	#sidebar a:hover
	{
		text-decoration:underline;
	}
	
	table.sortable
	{
		clear: right;
		width: 600px;
		line-height: 1.4 em;
		border: 4px solid gray;
	}
	
	table.sortable th
	{
		background-color: #E0E0E0 ;
		border-style: solid;
		border-width: 2px;
		border-color: #C0C0C0;
		color: black;
		position:relative;
		text-align: left;
	}
	
	table.sortable td, tr
	{
		
		border-style: solid;
		border-width: 2px;
		border-color: #C0C0C0;
		color: black;
		padding: 6px 11px;
		position:relative;
		text-align: left;
		
	}
	/* over class will be used later for highlight effect when the cursore moves over a row */
	tr.alt td
	{
		background: #ecf6fc;
	}
	
	tr.over td
	{
	
		background: #bcd4ec;
	
	}
	 	
	
	 	
	


	
