@CHARSET "ISO-8859-1";

/*Author: Noorin*/

@page 
{ 
	@bottom
	{ 
		content: "Page " counter(page) " of " counter(pages); 
	} 
}
#titleHeader h2
{
	font-size: 100%;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	display: block;
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	width:35%;
}
#sidebar, #header, #footer, #printerIcon, #excelIcon
{
	display:none
}
body 
{
	background: white;
	font-size: 12pt;
	line-height:1.2;
}
#report 
{
	margin-left: 10%;
	padding-top: 1em;
	border-top: 1px solid #930;
}


.page-break 
{
	display:none;
}	

