@CHARSET "ISO-8859-1";
/*Author: Noorin*/

#locName h2
{
	font-size: 100%;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	display: block;
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	width:25%;
}
#report h3
{
	font-size: 100%;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	display: block;
	display: inline-block;
	width:25%;
}
#name
{	
	float:left;
	margin-left: 4.0em;
	font-size: 100%;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
}
#report
{
	margin-left: 4.0em;
	font-size: 100%;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
}
#loc, #desc
{
	margin-left: 2.0em;
	font-size: 100%;
}
#date
{
	float:right;
	margin-right: 1.0em;
}
#reportHeader
{
	
	width: 100%;
	height: 70px;
}
.center
{
	margin:1% 0px; padding:0px;
	text-align:center;
}

#printerIcon
{
	font-size:1.2em;
	float:left;
	margin-left:20px;
}

#printerIcon h3:before
{
	position:relative;
	top:5px;
	content: url(../../lib/images/icons/Color/printer.png)	
}

