@CHARSET "ISO-8859-1";
/*Author: Noorin*/

#titleHeader h2
{
	font-size: 100%;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	display: block;
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	width:25%;
}
#report h3
{
	font-size: 100%;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	display: block;
	display: inline-block;
	width:25%;
}
#name
{	
	float:left;
	margin-left: 4.0em;
	font-size: 100%;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
}
#report
{
	margin-left: 4.0em;
	font-size: 100%;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
}
#loc, #desc, #pos
{
	margin-left: 2.0em;
	font-size: 100%;
}
#date
{
	float:right;
	margin-right: 1.0em;
}
#reportHeader
{
	
	width: 100%;
	height: 70px;
}
.center
{
	margin:1% 0px; padding:0px;
	text-align:center;
}

#printerIcon, #excelIcon
{
	font-size:1.2em;
	float:left;
	margin-left:20px;
}
#excelIcon a:before
{
	position:relative;
	top:5px;
	content: url(../../lib/images/icons/Color/Excel-16.gif)
}
#printerIcon a:before
{
	position:relative;
	top:5px;
	content: url(../../lib/images/icons/Color/printer.png)	
}
ul
{
    margin-top: 0em;
    margin-left: -2.0em;
    list-style-type: none;
}

li
{
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 0 0 0 30px;
    background: url("logodot.gif") no-repeat 0px .4em;
}
hr
{	
	border: none 0; 
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #efefef;
	width: 97%;
	height: 2px;
	margin: 10px auto 0 0;
	text-align: left;
}
#usersIcon h3:before
{
	position:relative;
	top:5px;
	content: url(../../lib/images/icons/Color/001_54.png)	
}
#locationsIcon h3:before
{
	position:relative;
	top:5px;
	content: url(../../lib/images/icons/Color/001_40.png)	
}
#positionsIcon h3:before
{
	position:relative;
	top:5px;
	content: url(../../lib/images/icons/Color/001_57.png)	
}
#schedulesIcon h3:before
{
	position:relative;
	top:5px;
	content: url(../../lib/images/icons/Color/001_44.png)	
}
li a
{
	text-decoration:none;
	color:black;
	font-family: cochin, Arial,  Verdana, Helvetica, sans-serif; 
	font-size:100%;
	
}
li a:hover
{
	background-color:#C8C8C8 ;
}








