@CHARSET "ISO-8859-1";
/*Author: Noorin*/
tr
{
	border-color: inherit;
	display: table-row;
	vertical-align: inherit;
	border:1px;
}

thead
{
	border-color: inherit;
	display: table-header-group;
	vertical-align: left;
	background-image:url(../../lib/images/content/HeaderGradient.png);
	background-repeat:x-repeat;
	color:black;
}
tfoot
{
	border-color: inherit;
	display: table-footer-group;
	vertical-align: left;
	background-image:url(../../lib/images/content/HeaderGradient.png);
	background-repeat:x-repeat;
	color:black;
}

tbody
{
	border-color: inherit;
	display: table-row-group;
	vertical-align: middle;
	color:black;
	
}

#usertable tr, .usertable.th
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: 10px;
	vertical-align: text-top;
}

#userTable th
{
	line-height: 1.3em;
	padding: 7px 7px 8px;
	text-align: left;
}
h1
{
	color: gray;
}
table
{
	width:97%;
	border-bottom: 2px solid #efefef;
	cellspacing: 0;
	cellpadding:0;
}
#colored
{
	 background-color:#F8F8F8 ;
}
#usertable
{
	border-style: outset;
	border-width: 1px;
	border-color: black;
	border-collapse: seperate;
	border-spacing:30%;
	-moz-border-radius: 1px
	cellpadding: 30%;
	width: 100%;
	text-align: left;
}





