body
{
    margin: 20px;
    padding: 0px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 80%;
	color: #444;
}

a
{
    color: #DAA6A5;
}

a:hover
{
    color: white;
}

table
{
    border-collapse: collapse;
}
table td
{
	font-size: 11px;

}

img
{
    border: none;
}

.code
{
	font-family: "Courier New";
	background-color: #FFFBCC !important;
    border-color:#E6DB55 !important;
	color: #666452 !important;	
	border: 1px solid;
	padding: 5px;
	margin: 10px;
	overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */ /*
	width: 99%; */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	
}
