#loginBox
{
	margin: 0 auto;
	width:600px;
	height:300px;
	border-width:1px;
	border-color: #696969;
	border:solid;
}

#loginBoxTitle
{
	position:relative;
	top:10px;
	left:10px;
	font-size:2.0em;
}

#loginLine
{
	position:relative;
	top:20px;
	margin:0 auto;
	width:90%;
	height:1px;
	background-color:#363636;
}

#loginArea
{
	margin:0 auto;
	top:50px;
	color:#363636;
	font-size:1.2em;
	
}

label, #rememberMe
{
	width: 8em;
	float: left;
	text-align: right;
	margin-right: 0.7em;
	display: block;
	margin-top:5px;
}

.submit input
{
	float:right;
	margin-right:170px;
}

#rememberMe
{
	
	color:#363636;
}

#forgotPassword
{
	position:relative;
	float:left;
	top:120px;
	left:20px;
	font-size:0.8em;	
}

#errorMessage
{
	margin: 0 auto;
	margin-top:25px;
	background-color:#FCDED9;
	border:solid;
	border-color:red;
	border-width:1px;
	width:90%;
	text-align:center;
}

input
{
	font-size:1.2em;
	color:#363636;
}

label {
	font-family: cochin;
}

#container {
	min-width: 1200px;
}

#header {
	background-color: #282828;
	width: 100%;
	height: 100px;
}

#headerTitle 
{
	float:left;
	position: relative;
	margin-left:20px;
	margin-top:65px;
	color: white;
	font-family: Cochin;
	font-size: 2.5em;
}
#footer 
{
	float:left;
	position: relative;
	top: 2em;
	background-color: #282828;
	width: 100%;
	height: 100px;
}
#middle {
	color: black;
	font-family: cochin;
	min-height: 100px;
	padding-top: 20px;
	float:left;
	width:100%;
	
}
	 
	

	
