body
{
	
}

#container
{
	margin: auto;
	width: 900px;
}

#header
{
	height: 60px;
	background-color: #363636;
}

#companyName
{
	position: absolute;
	margin-top:1em;
	margin-left: 2em;
	font-size: 2em;
	color: white;
	font-family: Cochin;
}

#sidebar
{
	margin-left: 0px;
	width: 200px;
}

#sidebarSection
{
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	position: relative;
	margin-top:30px;
	left:0px;
	width: 100%;
	border: solid;
	border-color: #999999;
	border-width: 1px;
}

#sidebarHeader
{
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	height: 30px;
	background-color: #686868;
}

#sidebarContent
{
	background-color: white;
}

#sidebarContent li
{
	text-decoration: none;
}

#mainContentArea
{

}

#footer
{
	position: relative;
	margin-top:2em;
	height:100px;
	background-color: #363636;
}