body
{
	
}

#container
{
	margin: auto;
	width: 900px;
}

#header
{
	height: 60px;
	background-color: #363636;
}

#companyName
{
	position: absolute;
	margin-top:1em;
	margin-left: 2em;
	font-size: 2em;
	color: white;
	font-family: Cochin;
}

#sidebar
{
	position: relative;
	float: left;
	width: 200px;
}

#sidebarSection
{
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	position: relative;
	margin-top:30px;
	left:0px;
	width: 100%;
	border: solid;
	border-color: #999999;
	border-width: 1px;
}

#sidebarHeader
{
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	height: 30px;
	background-color: #686868;
}

#sidebarTitle
{
	padding-top: 0.6em;
	padding-left: 1.2em;
	color: white;
}

#sidebarContent
{
	background-color: white;
}

#sidebarContent li
{
	text-decoration: none;
	list-style: none;
	left:0px;
}

#sidebarContent ul
{
	list-style: none;
	left:0px;
}

#mainContentArea
{
	position: relative;
	float: right;
	width: 75%;
	margin-top: 2em;
	
}

#column
{
	position: relative;
	width:50%;
	float: right;
	
}

#widget
{
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	position: relative;
	margin-bottom: 20px;
	left:0px;
	width: 95%;
	border: solid;
	border-color: #999999;
	border-width: 1px;
}

#widgetHeader
{
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	height: 30px;
	background-color: #E2E2E2;
	border-bottom: solid;
	border-color: #999999;
	border-width: 1px;
}

#widgetTitle
{
	padding-top: 0.6em;
	padding-left: 1.2em;
	color: #363636;
}

#widgetBody
{
	background-color: white;
	padding:5px;
}

#footer
{
	float: right;
	width: 900px;
	height:100px;
	margin-top:20px;
	bottom:0px;
	background-color: #363636;
}