body
{
	background-color:white;
	min-height: 468px;
	min-width:552px;
	font-family:Helvetica;
}

a
{
	font-size:small;
}

#loginBox
{
	background-color: #e4e4e4;
	position:relative;
	top:25%;
	left:25%;
	width:300px;
	padding:15px;
}

#outerLimit
{
	height:100%;
	width:100%;
	display:table;
	vertical-align:middle;
}

#container
{
	position:relative;
	vertical-align:middle;
	display:table-cell;
	height:468px;
}

#innerLimit
{
	width:552px;
	height:468px;
	margin-left:auto;
	margin-right:auto;
}
