@CHARSET "ISO-8859-1";

/*Author: Noorin*/

#corporateProfile label
{
	
	
	float: left;
	text-align: right;
	margin-right: 2.0em;
	display: block;
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	width:17%;
	font: cochin, Times, Verdana, helvetica,sans-serif;
	font-weight:bold;
}

#corporateProfile input, select

{
	background-color: #FFFFFF;
	font-family: cochin,Verdana, Times,helvetica,sans-serif;
	border: 1px solid #000080;
	border:solid 1px #aacfe4;
}
#corporateProfile input
{
	width:20%;
}

#corporateProfile input:focus
{
	background-color:#E0E0E0;
}

fieldset
{
	height:75%;
	margin-left:10px;
	margin-right:10px;
	border:white;
	border-top:1px solid gray;
}
fieldset.focussed {
 border: 1px solid #000061;
}

#corporateProfile legend
{
	color:#151B54; 
	font: bold 110% cochin, Times, Verdana, helvetica,sans-serif;
}

#corporateProfile input.button
{ 
	  color:#000061; 
	  font: cochin, Times, Verdana, helvetica,sans-serif;
	  margin-left:220px;
	  font-weight:bold;
	  border: 1px solid #000061;
	  margin-top:4px;
	  padding-top: 3px;
	  padding-bottom: 3px;
	 -webkit-border-top-left-radius:5px; 
	 -webkit-border-top-right-radius:5px;
	 -webkit-border-bottom-left-radius:5px; 
	 -webkit-border-bottom-right-radius:5px;
	  -moz-border-radius:10px;
}
#corporateProfile input.button:hover
{
	color:white;
	background:#000061
}