<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebAgendaNew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>ui.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addUser</display-name>
    <servlet-name>addUser</servlet-name>
    <servlet-class>update.addUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addLocation</display-name>
    <servlet-name>addLocation</servlet-name>
    <servlet-class>update.addLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addLocation</servlet-name>
    <url-pattern>/addLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserInfo</display-name>
    <servlet-name>UpdateUserInfo</servlet-name>
    <servlet-class>uiConnection.users.UpdateUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfo</servlet-name>
    <url-pattern>/updateUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLocation</display-name>
    <servlet-name>DeleteLocation</servlet-name>
    <servlet-class>uiConnection.update.location.DeleteLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLocation</servlet-name>
    <url-pattern>/DeleteLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSkill</display-name>
    <servlet-name>AddSkill</servlet-name>
    <servlet-class>uiConnection.update.skill.AddSkill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSkill</servlet-name>
    <url-pattern>/AddSkill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSkill</display-name>
    <servlet-name>DeleteSkill</servlet-name>
    <servlet-class>uiConnection.update.skill.DeleteSkill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSkill</servlet-name>
    <url-pattern>/DeleteSkill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>uiConnection.update.user.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePosition</display-name>
    <servlet-name>DeletePosition</servlet-name>
    <servlet-class>uiConnection.update.position.DeletePosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePosition</servlet-name>
    <url-pattern>/DeletePosition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPosition</display-name>
    <servlet-name>AddPosition</servlet-name>
    <servlet-class>uiConnection.update.position.AddPosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPosition</servlet-name>
    <url-pattern>/AddPosition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLocation</display-name>
    <servlet-name>UpdateLocation</servlet-name>
    <servlet-class>uiConnection.update.location.UpdateLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLocation</servlet-name>
    <url-pattern>/UpdateLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailBean</display-name>
    <servlet-name>SendMailBean</servlet-name>
    <servlet-class>SendMailBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailBean</servlet-name>
    <url-pattern>/SendMailBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailServlet</display-name>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>uiConnection.update.user.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/EmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleTest</display-name>
    <servlet-name>GoogleTest</servlet-name>
    <servlet-class>uiConnection.update.user.GoogleTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleTest</servlet-name>
    <url-pattern>/GoogleTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateSchedule</display-name>
    <servlet-name>GenerateSchedule</servlet-name>
    <servlet-class>schedule.GenerateSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateSchedule</servlet-name>
    <url-pattern>/GenerateSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminProfile</display-name>
    <servlet-name>UpdateAdminProfile</servlet-name>
    <servlet-class>uiConnection.update.user.UpdateAdminProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminProfile</servlet-name>
    <url-pattern>/UpdateAdminProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>uiConnection.update.user.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Backup</display-name>
    <servlet-name>Backup</servlet-name>
    <servlet-class>uiConnection.backup.Backup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backup</servlet-name>
    <url-pattern>/Backup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTimer</display-name>
    <servlet-name>SessionTimer</servlet-name>
    <servlet-class>ui.SessionTimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTimer</servlet-name>
    <url-pattern>/SessionTimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpPermission</display-name>
    <servlet-name>EmpPermission</servlet-name>
    <servlet-class>uiConnection.Settings.EmpPermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpPermission</servlet-name>
    <url-pattern>/EmpPermission</url-pattern>
  </servlet-mapping>
</web-app>